html, body {
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    margin: 5px auto;
    font-family: 'Nunito';
    background-color: lightblue;
}

h2{
    font-size: 38px;
    margin: auto;
    text-align: center;
    color: #0c0f94;
}

p{
    font-size: 14px;
}

#chat{
    min-height: 320px;
    max-width: 600px;
    margin: 30px auto;
    border: 2px solid black;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#form {
    max-width: 600px;
    margin: 30px auto;
}

#window{
    height: 320px;
    overflow: auto;
    background: #f2f2f2;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 10px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
